<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpresaCreateDlg" widgetVar="EmpresaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEmpresaTitle}">
            <h:form id="EmpresaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empresaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEmpresaLabel_nit}" for="nit" />
                        <p:inputText id="nit" value="#{empresaController.selected.nit}" title="#{bundle.CreateEmpresaTitle_nit}" required="true" requiredMessage="#{bundle.CreateEmpresaRequiredMessage_nit}"/>
                        <p:outputLabel value="#{bundle.CreateEmpresaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empresaController.selected.nombre}" title="#{bundle.CreateEmpresaTitle_nombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empresaController.create}" value="#{bundle.Save}" update="display,:EmpresaListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmpresaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmpresaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
