<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpresaEditDlg" widgetVar="EmpresaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEmpresaTitle}">
            <h:form id="EmpresaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empresaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEmpresaLabel_nit}" for="nit" />
                        <p:inputText id="nit" value="#{empresaController.selected.nit}" title="#{bundle.EditEmpresaTitle_nit}" required="true" requiredMessage="#{bundle.EditEmpresaRequiredMessage_nit}"/>
                        <p:outputLabel value="#{bundle.EditEmpresaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empresaController.selected.nombre}" title="#{bundle.EditEmpresaTitle_nombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empresaController.update}" value="#{bundle.Save}" update="display,:EmpresaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EmpresaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmpresaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
