<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ViajeEditDlg" widgetVar="ViajeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditViajeTitle}">
            <h:form id="ViajeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{viajeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditViajeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{viajeController.selected.id}" title="#{bundle.EditViajeTitle_id}" required="true" requiredMessage="#{bundle.EditViajeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditViajeLabel_horasalida}" for="horasalida" />
                        <p:calendar id="horasalida" pattern="MM/dd/yyyy HH:mm:ss" value="#{viajeController.selected.horasalida}" title="#{bundle.EditViajeTitle_horasalida}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditViajeLabel_horallegada}" for="horallegada" />
                        <p:calendar id="horallegada" pattern="MM/dd/yyyy HH:mm:ss" value="#{viajeController.selected.horallegada}" title="#{bundle.EditViajeTitle_horallegada}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditViajeLabel_placabuseta}" for="placabuseta" />
                        <p:selectOneMenu id="placabuseta" value="#{viajeController.selected.placabuseta}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{busetaController.itemsAvailableSelectOne}"
                                           var="placabusetaItem"
                                           itemValue="#{placabusetaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditViajeLabel_idultimoparadero}" for="idultimoparadero" />
                        <p:selectOneMenu id="idultimoparadero" value="#{viajeController.selected.idultimoparadero}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paraderoController.itemsAvailableSelectOne}"
                                           var="idultimoparaderoItem"
                                           itemValue="#{idultimoparaderoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditViajeLabel_idruta}" for="idruta" />
                        <p:selectOneMenu id="idruta" value="#{viajeController.selected.idruta}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rutaController.itemsAvailableSelectOne}"
                                           var="idrutaItem"
                                           itemValue="#{idrutaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{viajeController.update}" value="#{bundle.Save}" update="display,:ViajeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ViajeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ViajeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
