<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ViajeViewDlg" widgetVar="ViajeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewViajeTitle}">
            <h:form id="ViajeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{viajeController.selected != null}">
                        <h:outputText value="#{bundle.ViewViajeLabel_id}"/>
                        <h:outputText value="#{viajeController.selected.id}" title="#{bundle.ViewViajeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewViajeLabel_horasalida}"/>
                        <h:outputText value="#{viajeController.selected.horasalida}" title="#{bundle.ViewViajeTitle_horasalida}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewViajeLabel_horallegada}"/>
                        <h:outputText value="#{viajeController.selected.horallegada}" title="#{bundle.ViewViajeTitle_horallegada}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewViajeLabel_placabuseta}"/>
                        <h:outputText value="#{viajeController.selected.placabuseta}" title="#{bundle.ViewViajeTitle_placabuseta}"/>
                        <h:outputText value="#{bundle.ViewViajeLabel_idultimoparadero}"/>
                        <h:outputText value="#{viajeController.selected.idultimoparadero}" title="#{bundle.ViewViajeTitle_idultimoparadero}"/>
                        <h:outputText value="#{bundle.ViewViajeLabel_idruta}"/>
                        <h:outputText value="#{viajeController.selected.idruta}" title="#{bundle.ViewViajeTitle_idruta}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ViajeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
