<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RutaEditDlg" widgetVar="RutaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRutaTitle}">
            <h:form id="RutaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rutaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRutaLabel_id}" for="id" />
                        <p:inputText id="id" value="#{rutaController.selected.id}" title="#{bundle.EditRutaTitle_id}" required="true" requiredMessage="#{bundle.EditRutaRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditRutaLabel_recorrido}" for="recorrido" />
                        <p:inputText id="recorrido" value="#{rutaController.selected.recorrido}" title="#{bundle.EditRutaTitle_recorrido}" />
                        <p:outputLabel value="#{bundle.EditRutaLabel_origen}" for="origen" />
                        <p:inputText id="origen" value="#{rutaController.selected.origen}" title="#{bundle.EditRutaTitle_origen}" />
                        <p:outputLabel value="#{bundle.EditRutaLabel_destino}" for="destino" />
                        <p:inputText id="destino" value="#{rutaController.selected.destino}" title="#{bundle.EditRutaTitle_destino}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rutaController.update}" value="#{bundle.Save}" update="display,:RutaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RutaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RutaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
