<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConductorCreateDlg" widgetVar="ConductorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateConductorTitle}">
            <h:form id="ConductorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conductorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateConductorLabel_documento}" for="documento" />
                        <p:inputText id="documento" value="#{conductorController.selected.documento}" title="#{bundle.CreateConductorTitle_documento}" required="true" requiredMessage="#{bundle.CreateConductorRequiredMessage_documento}"/>
                        <p:outputLabel value="#{bundle.CreateConductorLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{conductorController.selected.nombre}" title="#{bundle.CreateConductorTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_apellidos}" for="apellidos" />
                        <p:inputText id="apellidos" value="#{conductorController.selected.apellidos}" title="#{bundle.CreateConductorTitle_apellidos}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_grupoSanguineo}" for="grupoSanguineo" />
                        <p:inputText id="grupoSanguineo" value="#{conductorController.selected.grupoSanguineo}" title="#{bundle.CreateConductorTitle_grupoSanguineo}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_eps}" for="eps" />
                        <p:inputText id="eps" value="#{conductorController.selected.eps}" title="#{bundle.CreateConductorTitle_eps}" />
                        <p:outputLabel value="#{bundle.CreateConductorLabel_fechaNacimiento}" for="fechaNacimiento" />
                        <p:calendar id="fechaNacimiento" pattern="MM/dd/yyyy" value="#{conductorController.selected.fechaNacimiento}" title="#{bundle.EditConductorTitle_fechaNacimiento}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateConductorLabel_nitEmpresa}" for="nitEmpresa" />
                        <p:selectOneMenu id="nitEmpresa" value="#{conductorController.selected.nitEmpresa}" >
                            <f:selectItems value="#{empresaController.itemsAvailableSelectOne}"
                                           var="nitEmpresaItem"
                                           itemValue="#{nitEmpresaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conductorController.create}" value="#{bundle.Save}" update="display,:ConductorListForm:datalist,:growl" oncomplete="handleSubmit(args,'ConductorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConductorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
