<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BusetaEditDlg" widgetVar="BusetaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBusetaTitle}">
            <h:form id="BusetaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{busetaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBusetaLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{busetaController.selected.placa}" title="#{bundle.EditBusetaTitle_placa}" required="true" requiredMessage="#{bundle.EditBusetaRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.EditBusetaLabel_lateral}" for="lateral" />
                        <p:inputText id="lateral" value="#{busetaController.selected.lateral}" title="#{bundle.EditBusetaTitle_lateral}" />
                        <p:outputLabel value="#{bundle.EditBusetaLabel_documentoConductor}" for="documentoConductor" />
                        <p:selectOneMenu id="documentoConductor" value="#{busetaController.selected.documentoConductor}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{conductorController.itemsAvailableSelectOne}"
                                           var="documentoConductorItem"
                                           itemValue="#{documentoConductorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBusetaLabel_nitEmpresa}" for="nitEmpresa" />
                        <p:selectOneMenu id="nitEmpresa" value="#{busetaController.selected.nitEmpresa}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{empresaController.itemsAvailableSelectOne}"
                                           var="nitEmpresaItem"
                                           itemValue="#{nitEmpresaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{busetaController.update}" value="#{bundle.Save}" update="display,:BusetaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BusetaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BusetaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
